trigger:
  batch: true
  branches:
    include:
      - "*"

workspace:
    clean: all

variables:
  - name: buildConfiguration
    value: 'release'
  - name: buildPlatform
    value: 'anycpu'
  - group: 'Prod Management Resources'

pool:
  name: 'DAS - Continuous Integration'

resources:
  repositories:
  - repository: das-platform-building-blocks
    type: github
    name: SkillsFundingAgency/das-platform-building-blocks
    ref: refs/heads/master
    endpoint: "GitHub (SFA)"

steps:
- task: gittools.gitversion-preview.gitversion-task.GitVersion@5
  displayName: GitVersion
  inputs:
    configFilePath: GitVersion.yml    
    updateAssemblyInfo: true

- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore
    projects: 'src/**/*.sln'
    noCache: true

- task: DotNetCoreCLI@2
  displayName: Test
  inputs:
    command: test
    projects: '**/*.UnitTests/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

- template: azure-pipelines-templates/dependency-check.yml@das-platform-building-blocks    

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    projects: 'src/**/*.sln'
    arguments: '--configuration $(buildConfiguration) --no-restore'    

- task: DotNetCoreCLI@2
  displayName: 'Publish DataCollection Function'
  inputs:
    command: publish
    publishWebProjects: false
    projects: 'src/DAS.DigitalEngagement.DataCollectionSubscribe.Function/DAS.DigitalEngagement.Functions.DataCollection.csproj'
    arguments: '--configuration $(buildConfiguration) --output $(build.artifactstagingdirectory)/publish --no-restore --no-build'

- task: DotNetCoreCLI@2
  displayName: 'Publish Stub Function'
  inputs:
    command: publish
    publishWebProjects: false
    projects: 'src/DAS.DigitalEngagement.DataCollectionStub.Function/DAS.DigitalEngagement.Functions.DataCollectionStub.csproj'
    arguments: '--configuration $(buildConfiguration) --output $(build.artifactstagingdirectory)/publish --no-restore --no-build'    
    
- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    Contents: |
     azure/**
    TargetFolder: '$(build.artifactstagingdirectory)/publish'
    OverWrite: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)/publish'
